@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;500;600&display=swap");
@font-face {
  font-family: "SPACE ARMOR";
  src: url(../fonts/spacearmor.woff2) format("woff2");
}
@font-face {
  font-family: "Cyberway Riders";
  src: url(../fonts/cyberware.woff2) format("woff2");
}
body {
  background-color: #010101;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

p, li {
  font-family: "Hind Madurai", sans-serif;
  color: floralwhite;
}

.billboard {
  padding: 55px 0 34px 40px;
  text-align: center;
  background-image: url();
  background-size: cover;
  background-position: center;
  font: 2em/1.6em Arial;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.billboard .logo {
  color: rgba(201, 23, 0, 0.9450980392);
  display: inline-flex;
}
.billboard .logo-name {
  font-family: "Cyberway Riders";
  font-size: 50px;
  border-right: 4px solid aliceblue;
  padding-right: 18px;
}
.billboard .logo-year {
  font-family: "SPACE ARMOR";
  font-size: 37px;
  padding-left: 12px;
}
.billboard h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 24px;
  color: aliceblue;
}

.video-intro {
  text-align: center;
  background-size: cover;
  --mask: linear-gradient(to top,
    rgba(0,0,0, 1) 0, rgba(0,0,0, 1) 2%,
    rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0
  ) 40% 50% / 100% 100% repeat-x;
  font: 2em/1.6em Arial;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 78%;
}

main {
  margin-top: 25%;
  display: flex;
}
main h2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 37px;
  color: aliceblue;
}
main h3 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 27px;
  color: aliceblue;
}
main nav {
  padding-left: 40px;
  margin-top: 40px;
  border-right: 3px double aliceblue;
}
main nav li {
  margin: 25px 0 0 0;
  font-size: 22px;
  padding: 20px;
  list-style-type: none;
  border-bottom: 1px solid aliceblue;
  text-transform: uppercase;
}
main nav a {
  scroll-behavior: smooth;
}
main .content {
  margin-left: 300px;
  width: 80%;
  display: block;
  overflow-y: scroll;
  height: 950px;
  scroll-behavior: smooth;
}
main .content .synopsis {
  margin-bottom: 800px;
  /* From https://css.glass */
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 40px;
}
main .content .synopsis p {
  text-align: right;
  font-weight: 300;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
main .content .synopsis .synopsis-bg .slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
  border-radius: 2px;
}
main .content .synopsis .synopsis-bg .slider::before, main .content .synopsis .synopsis-bg .slider::after {
  background: linear-gradient(to right, rgb(2, 2, 2) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 400px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
main .content .synopsis .synopsis-bg .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
main .content .synopsis .synopsis-bg .slider::before {
  left: 0;
  top: 0;
}
main .content .synopsis .synopsis-bg .slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 6300px;
}
main .content .synopsis .synopsis-bg .slider .slide {
  height: 200px;
  width: 250px;
}
main .content .factions {
  border: 1px solid gold;
  padding: 40px;
}
main .content .factions em {
  color: aliceblue;
}
main .content .factions .faction-gallery {
  display: flex;
}
main .content .factions .faction-gallery .faction-info {
  display: block;
}
main .content .factions .faction-gallery .faction-info .contact-name {
  height: 80px;
  border: 1px solid saddlebrown;
  padding: 8px;
}
main .content .factions .faction-gallery .faction-info .faction-name {
  height: 140px;
  width: 400px;
  border: 1px solid white;
  padding: 8px;
}
main .content .factions .faction-gallery .faction-info .faction-description {
  height: 200px;
  width: 400px;
  border: 1px solid white;
  padding: 8px;
}
main .content .factions .faction-gallery .headshot {
  height: 200px;
  width: 100%;
  border: 1px solid seagreen;
  margin-left: 400px;
  padding: 15px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */